# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Django
db.sqlite3
data/*.sqlite3
staticfiles/
var/

# Environment variables
.env

# PyCharm
.idea/

# Исходные резервные копии WordPress
source/

# Служебные файлы
*.log
.DS_Store
Thumbs.db
